header>.user {
    display: flex;
    position: relative;
    height: 3.2rem;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    border: 0.2rem solid #0f0f0f;

}

header>.user>div {
    position: absolute;
    left: 0rem;
    top: 3rem;
    display: none;
    min-height: 4rem;
    width: 15rem;
    background: #030303da;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    text-align: center;

}

header>.user:hover>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: fade-in;
    /*动画名称*/
    animation-duration: 0.6s;
    /*动画持续时间*/
    -webkit-animation-name: fade-in;
    /*针对webkit内核*/


}

header>.user:hover {
    background: rgba(114, 120, 158, 0.5);
    border-radius: 0.8rem;

}

header>.user svg {
    fill: #fff;
    font-size: 1.7rem;
}

header .user>div>div {
    margin: 0.6rem 0rem;
    width: 13rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}

header .user>div>div>div {
    width: 85%;
    border-left: 0.3rem solid #fff;
}

header .user>div>div:hover {
    background: rgba(148, 154, 199, 0.377);
}