@import url("./assembly/body.css");
@import url("./assembly/header.css");
@import url("./assembly/sbottom.css");
@import url("./assembly/content-show.css");
@import url("./assembly/layout.css");
@import url("./assembly/paging.css");
@import url("./assembly/banner.css");

.layout .catalogue {
    min-width: 20%;
}

.layout .label {
    min-width: 20%;
}

.layout .layout-content {
    width: 60%; 
   
}
.layout .layout-content>.articles {
    width: 100%; 
    grid-template-columns: repeat(1, 1fr); 
}

@media screen and (max-width:991px) {
    .layout .layout-content {
        width: 95%;
       
    }

    .layout .catalogue {
        display: none;

    }
    .layout .label{
        display: none;
    }
    
}