/* 清除浏览器默认边距，
使边框和内边距的值包含在元素的width和height内 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: stretch;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #0f0f0f;
    border-bottom: 0.15rem solid #fff;
    z-index: 9;
}



header .logos {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;

}

header .logos>a {
    text-decoration: none;
    font-weight: 600;
    font-size: 2.5rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
}



header>.navigation-simplify {
    display: none;
    position: relative;
    height: 3.2rem;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    border: 0.2rem solid #0f0f0f;

}

header>.navigation-simplify>div {
    position: absolute;
    left: 0rem;
    top: 3rem;
    display: none;
    min-height: 4rem;
    width: 15rem;
    background: #030303da;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    text-align: center;

}

header>.navigation-simplify:hover>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: fade-in;
    /*动画名称*/
    animation-duration: 0.6s;
    /*动画持续时间*/
    -webkit-animation-name: fade-in;
    /*针对webkit内核*/


}

header>.navigation-simplify:hover {
    background: rgba(114, 120, 158, 0.5);
    border-radius: 0.8rem;

}

header>.navigation-simplify svg {
    fill: #fff;
    font-size: 1.7rem;
}

header .navigation-simplify>div>div {
    margin: 0.6rem 0rem;
    width: 13rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}

header .navigation-simplify>div>div>div {
    width: 85%;
    border-left: 0.3rem solid #fff;
}

header .navigation-simplify>div>div:hover {
    background: rgba(148, 154, 199, 0.377);
}
header>.navigation {

    height: 100%;
    min-width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items: stretch;
    align-items: center;
    text-align: center;

}

header>.navigation>div {

    position: relative;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
    flex-wrap: wrap;
    min-width: 13%;
    height: 3.2rem;
    border: 0.2rem solid #0f0f0f;
    z-index: 10;
    text-align: center;
}

header a {

    text-decoration: none;
    color: #fff;
    font-weight: 750;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;

}

header .navigation>div:hover {

    background: rgba(114, 120, 158, 0.5);
    border-radius: 0.8rem;
}

header .navigation>div:hover>div {
    /* visibility: visible; */
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: fade-in;
    /*动画名称*/
    animation-duration: 0.6s;
    /*动画持续时间*/
    -webkit-animation-name: fade-in;
    /*针对webkit内核*/

}

header .navigation>div>div {

    /* visibility: hidden; */
    position: absolute;
    left: 0rem;
    top: 3rem;
    display: none;
    min-height: 4rem;
    width: 15rem;
    background: #030303da;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    text-align: center;
}

header .navigation>div>div>div {
    margin: 0.6rem 0rem;
    width: 13rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}

header .navigation>div>div>div>div {
    width: 85%;
    border-left: 0.3rem solid #fff;
}

header .navigation>div>div>div:hover {
    background: rgba(148, 154, 199, 0.377);
}

header>.search {
    width: 15%;
    height: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 25px;
    padding: 0rem 1.2rem;
    display: flex;
    justify-content: space-between;
}

header>.search>div {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header>.search>div>input::placeholder {

    font-size: 1.1em;
    color: #fff;
}

header>.search>div>input {

    width: 100%;
    height: 80%;
    outline: none;
    border: 0;
    background: #0f0f0f;
    color: rgb(255, 255, 255);

}

header>.search>div>svg {
    fill: #fff;
}

header>.search>div>svg:active {
    fill: rgb(177, 128, 206);

}

header>.user {
    width: 10%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header .user div svg {
    font-size: 1.7rem;
    fill: #fff;

}

header .user div svg:active {
    fill: rgb(177, 128, 206);
}

header>.user>div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.banner {
    width: 100%;
    padding: 4rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20rem;
    background: #0f0f0f;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.banner p {
    font-size: 3rem;
    margin: 2rem 2rem;
}

.banner>.search {
    min-width: 30%;
    height: 2.5rem;
    border: 0.1rem solid #fff;
    border-radius: 25px;
    padding: 0rem 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;

}

.banner>.search>div {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner>.search div input::placeholder {

    font-size: 1.1em;
    color: #fff;
}

.banner>.search>div>input {

    width: 100%;
    height: 80%;
    outline: none;
    border: 0;
    background: #0f0f0f;
    color: rgb(255, 255, 255);

}

.banner>.search>div>svg {
    fill: #fff;
}

.banner>.search>div>svg:active {
    fill: rgb(177, 128, 206);

}




.banner-show {
    width: 100%;
    height: 4rem;
}

.content-show {
    padding: 1rem 1rem;
    min-height: 100vh;
    margin: 1rem 1rem;
    width: 60%;
    display: none;
    background: #c1c1c117;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #0f0f0f;
}

.layout {
    min-height: 100vh;
    width: 100%;
    /* min-width: 80vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.layout .catalogue {
    width: 20vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(142, 138, 145, 0.332);
    writing-mode: vertical-lr;
    font-size: 3rem;
    letter-spacing: 1.2rem;
}

.layout .label {
    width: 20vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(142, 138, 145, 0.332);
    writing-mode: vertical-lr;
    font-size: 3rem;
    letter-spacing: 1.2rem;
}

.layout .content {
    min-height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1.3rem;
    line-height: 2rem;
    align-items: center;
}

.layout .content>div {
    width: 100%;
    display: inline-block;
    padding: 1rem 1rem;
    margin: 0.5rem 1rem;
    text-align: left;
    border: 0.1rem solid #807979;
    border-radius: 0.8rem;
    /* overflow: hidden; */
    box-shadow: 0.1rem 0.1rem 0.1rem 0.05rem rgba(0, 0, 0, 0.123);
}

.layout .content>div:hover {
    box-shadow: 0.1rem 0.15rem 0.15rem 0.1rem rgba(0, 0, 0, 0.329);
}

.banner .image {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.banner .image>img {
    padding: 2% 2%;
    max-width: 80%;
}

code {
    border-radius: 0.3rem;
}

.paging {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1rem;
    min-width: 20vw;
    margin: 1rem 2rem;
    align-items: center;
}

.paging>.previous-page {
    width: 6rem;
    border-radius: 0.5rem;
    background: #0f0f0f;
    color: #fff;

}

.paging>.next-page {
    width: 6rem;
    border-radius: 0.5rem;
    background: #0f0f0f;
    color: #fff;

}

.paging>.paging-index {
    margin: 1rem 1rem;
    min-width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.paging>.paging-index>.button_off {
    width: 2rem;
    border-radius: 0.5rem;
    background: #0f0f0f;
    color: #fff;

}

.paging>.paging-index>.button_off:hover {

    background: #fff;
    color: #0f0f0f;

}

.paging>.paging-index>.button_on {
    width: 2rem;
    border-radius: 0.5rem;

    background: #fff;
    color: #0f0f0f;

}

/* .paging>.paging-index>.button_on:hover{
    background: #0f0f0f;
    color: #fff;
} */




.paging>.next-page:active {

    background: #fff;
    color: #0f0f0f;
}

.paging>.previous-page:active {
    background: #fff;
    color: #0f0f0f;
}

.sbottom {
    width: 100%;
    height: 4rem;
    background: #181717f1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*屏幕宽度小于991px,改变布局和样式*/
@media screen and (max-width:991px) {

    /* .banner .content h2 {
        font-size: 2em;
    } */
    header .navigation {
        display: none;
    }

    header .search {
        width: 40%;
    }

    header .logo {
        width: 15%;
    }

    header>.navigation-simplify {
        display: flex;

    }

    .content {
        width: 80vw;
    }

    .layout .catalogue {
        display: none;

    }

    .layout .label {
        display: none;

    }

    .layout .content {

        width: 85vw;

    }


}

/*屏幕宽度小于600px,改变布局和样式*/
@media screen and (max-width:600px) {
    .content {
        width: 90vw;
    }

    .content-show {
        width: 95vw;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    /*初始状态 透明度为0*/
    50% {
        opacity: 0;
    }

    /*过渡状态 透明度为0*/
    100% {
        opacity: 1;
    }

    /*结束状态 透明度为1*/
}

@-webkit-keyframes fade-in {

    /*针对webkit内核*/
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* #wrapper {    
    
}  */
/* 短作业/优先级 */
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/