@import url("./assembly/body.css");
@import url("./assembly/header.css");
@import url("./assembly/sbottom.css");
@import url("./assembly/content-show.css");
@import url("./assembly/layout.css");
@import url("./assembly/paging.css");
@import url("./assembly/banner.css");

.layout .catalogue {
    min-width: 20%;
}

.layout .label {
    min-width: 20%;
}

.layout .layout-content>.articles {
    width: 100%; 
    grid-template-columns: repeat(2, 1fr);
}
.layout .layout-content>.articles>div>.div_s .div_p{

    width: 100%;
    border: none;
    box-shadow: none;
    padding: 0rem 0rem;

}

@media screen and (max-width:991px) {
    .layout .layout-content{
        width: 80%;
        max-width: none;
    }
    .layout .layout-content>.articles {
        width: 75%;
        grid-template-columns: repeat(1, 1fr);
    }

    .layout .catalogue {
        display: none;

    }
    .layout .label{
        display: none;
    }
    
}

@media screen and (max-width:600px) {
    .layout .layout-content{
        width: 100%;
        max-width: none;
    }
    .layout .layout-content>.articles {
        width: 90%;
        /* grid-template-columns: repeat(1, 1fr); */

    }
}
