@import url("./assembly/body.css");
@import url("./assembly/header.css");
@import url("./assembly/sbottom.css");
@import url("./assembly/layout.css");
@import url("./assembly/paging.css");
@import url("./assembly/createArticle.css"); 




.layout {
    margin-top: 5rem;
    margin-bottom: 1rem;
    justify-content: start;
}

.layout_hidden {
    display: none;
}

.layout .layout-content {
    width: 60%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0rem 1rem;
    border: 0.10rem solid #000000;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.05rem rgba(0, 0, 0, 0.123);
    margin: 0rem 1rem;
}

.layout .layout-content>.articles-hidden {
    display: none;

}

.layout .layout-content>.articles {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
}

.paging-hidden {
    display: none;
}

.paging {
    display: flex;
}



.layout>.layout-content>.navigation-article {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-size: 1.2rem;
    border: 0.01rem solid #d2d2d2;
    box-shadow: none;
    border-radius: 0.5rem;
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
    background: black;

}

.layout>.layout-content>.navigation-article>div {
    width: 6rem;
    min-height: 2.5rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border: 0.1rem solid #000000;
}

.navigation-article-hidden {
    color: white;
    background: black;
}

.navigation-article-show {
    background: white;
    color: black !important;
    border: 0.1rem solid #000000;
}

.layout>.layout-content>.navigation-article>div:hover {


    background: white;
    color: black;
    border: 0.1rem solid #000000;

}

.layout>.layout-content>.navigation-article a {
    text-decoration: none;
}


.layout>.layout-content>.navigation-article:hover {
    box-shadow: none;
}


.layout .catalogue {
    width: 30%;
    flex-direction: row;
    justify-content: end;
    background: none;


}

.layout>.catalogue>.image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    margin-bottom: 1rem;
    width: 50%;
    height: 23rem;
    border: 0.10rem solid #000000;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.05rem rgba(0, 0, 0, 0.123);

}

.layout>.catalogue>.image-div>.image-s {
    min-width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid #e4e4e4;

}

.layout>.catalogue>.image-div>.image-s>img {
    width: 50%;
}

.layout>.catalogue>.image-div>button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    color: white;
    background: black;
    border-radius: 0.4rem;
    font-size: 1rem;
    border: 0.01rem solid #95959593;
}

.layout>.catalogue>.image-div>button:active {

    background: white;
    color: black;
}

@media screen and (max-width: 991px) {
    .layout .layout-content {
        width: 90%;
        /* grid-template-columns: repeat(1, 1fr); */
        align-items: center;


    }


    .layout {
        flex-direction: column;

        align-items: center;
    }

    .layout .catalogue {
        width: 90%;
        justify-content: center;


    }


    .layout>.catalogue>.image-div {
        width: 90%;
        height: 23rem;
        border: 0.01rem solid #cfcdcd93;
        box-shadow: 0.15rem 0.15rem 0.15rem 0.1rem rgba(0, 0, 0, 0.174);

    }

    .layout>.layout-content>.information {
        width: 90%;
    }


}

@media screen and (max-width: 600px) {


    /* .title>select {

        width: 35%;
        margin-right: 5%;

    }

    .title>input[type=text] {

        width: 60%;

    } */
}