@import url("./assembly/body.css");
@import url("./assembly/header.css");
@import url("./assembly/sbottom.css");
@import url("./assembly/layout.css");


.layout {
    margin-top: 5rem;
    margin-bottom: 1rem;
    justify-content: start;
}

.layout .layout-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 0 1rem;
    
  
}

.layout>.layout-content>.information {
    width: 70%;
    height: 30rem;
    border: 0.01rem solid #d2d2d2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 0.01rem solid #807979;
    border-radius: 0.8rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.05rem rgba(0, 0, 0, 0.123);
    margin: 0.5rem 0;
}

.layout>.layout-content>.information>div {
    display: flex;
    width: 95%;
    height: 15%;
    justify-content: start;
    align-items: center;
    font-size: 1.7rem;
    border-bottom: 0.1rem solid #d2d2d2;

    
}

.layout>.layout-content>.information>form {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
}

.layout>.layout-content>.information>form>div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;

   

}

.layout>.layout-content>.information>form>div .in {
    width: 80%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0 2rem;

}
.layout>.layout-content>.information>form>div .if {
    width: 15%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.layout>.layout-content>.information>form>div>div {
    width: 20%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.layout>.layout-content>.information>form>input {
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    color: white;
    background: black;
    border: 0.01rem solid #95959593;
}

.layout>.layout-content>.information>form>input:active {
    background: white;
    color: black;
}

.layout .catalogue {

    width: 30%;
    flex-direction: row;
    justify-content: end;
    background: none;

}


.layout>.catalogue>.image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    margin-bottom: 1rem;
    width: 50%;
    height: 23rem;
    border: 0.01rem solid #cfcdcd93;
    box-shadow: 0.15rem 0.15rem 0.15rem 0.1rem rgba(0, 0, 0, 0.174);

}

.layout>.catalogue>.image-div>.image-s {
    min-width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid #e4e4e4;

}

.layout>.catalogue>.image-div>.image-s>img {
    height: 70%;
}

.layout>.catalogue>.image-div>button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    color: white;
    background: black;
    border-radius: 0.4rem;
    font-size: 1rem;
    border: 0.01rem solid #95959593;
}
#vip{
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    color: white;
    background: black;
    border: 0.01rem solid #95959593;
}
.layout>.catalogue>.image-div>button:active {

    background: white;
    color: black;

}


@media screen and (max-width:991px) {
    .layout .layout-content {
        width: 95%;
        /* grid-template-columns: repeat(1, 1fr); */
        align-items: center;


    }


    .layout {
        flex-direction: column;

        align-items: center;
    }

    .layout .catalogue {
        width: 95%;
        justify-content: center;


    }


    .layout>.catalogue>.image-div {
        width: 98%;
        height: 23rem;
        border: 0.01rem solid #cfcdcd93;
        box-shadow: 0.15rem 0.15rem 0.15rem 0.1rem rgba(0, 0, 0, 0.174);

    }

    .layout>.layout-content>.information {
        width: 98%;
    }


}

@media screen and (max-width:600px) {}