html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100vh;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: stretch;
    align-items: center;

}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #000000;
    border-bottom: 0.15rem solid #fff;
    z-index: 9;
}

header .logos {
    margin-left: 15%;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}
header>.logos>.logo-a>.logo-top {

    height: 40%;
    width: 100%;
}

header>.logos>.logo-a>.logo-buttom {

    height: 60%;
    width: 100%;
}

header>.logos>.logo-a {
    display: flex;
    height: 3rem;
    flex-direction: column;
    justify-content: end;
    justify-items: stretch;
    align-items: stretch;



}

header>.logos a {
    text-decoration: none;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    letter-spacing: 0.0rem;
}


header .logos .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 3rem;
}

header .logos .image>img {
    height: 120%;
}


.center {
    margin-top: 4rem;
    width: 90%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: stretch;
    align-items: center;


   
}
.layout{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
}
.content {
    /* width: 90%; */
    width: 60rem;
    height:20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.content .c-left {
    width: 45%;
    height: 100%;
    /* background: rgb(158, 158, 158); */
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.content .c-left .er{
    width: 15rem;
    height: 15rem;
    background: #ccc;

}

.content .c-center {
    width: 0.1rem;
    height: 100%;
    background-color: #ccc;

}

.content .c-right {
    width: 45%;
    height: 100%;
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* background: blueviolet; */


}


form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    
}


a {
    text-decoration: none;
    color: rgba(44, 0, 221, 0.593);
}

form>div {
    display: flex;
    justify-content: safe;
    align-items: center;
    width: 100%;
    height: 10%;
}

input[type=text],
input[type=password]
 {
    width: 100%;
    padding: 1rem 1rem;
    margin: 1rem 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(231, 231, 231, 0.875);

}

input[type=submit] {
    width: 80%;
    background: #000000;
    color: white;
    padding: 1rem 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* cursor: not-allowed; */
}

input[type=submit]:hover {
    background-color: rgb(135, 133, 133);
    color: black;
}

.sbottom {
    width:100%;
    height:10%;
    background: #181717f1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* z-index: 10; */
}

.more {
    width: 60%;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.more div {
    width: 0.1rem;
    height: 70%;
    background: #ccc;
}



@media screen and (max-width:991px) {
    .content {
        width: 80vw
    }
    .content {
        width: 90vw;
    }

    .content .c-left {
        display: none;
    }

    .content .c-center {
        display: none;
    }

    .content .c-right {
        width: 100%;
    }

}

/*屏幕宽度小于600px,改变布局和样式*/
@media screen and (max-width:600px) {
    .content {
        width: 90vw;
    }

    .content .c-left {
        display: none;
    }

    .content .c-center {
        display: none;
    }

    .content .c-right {
        width: 100%;
    }

}