@import url("./body.css");
.banner {
    width: 100%;
    padding: 5rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 25rem;
    background: black;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    position: relative;
    border-bottom: 0.1rem solid rgb(177, 177, 177);
}

.banner>.description {
    width: 50%;
    margin-top: 1rem;
    min-height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}

.banner>.description h1 {
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    line-height: 4.5rem;
    color: rgba(255, 255, 255, 0.936);

}

.banner>.description h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}


.banner>.search {
    min-width: 35%;
    height: 4rem;
    border: 0.05rem solid #fff;
    border-radius: 50px;
    padding: 0rem 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;

}

.banner>.search>.input- {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner>.search>.input- input {
    font-size: 1.3rem;

}

.search .search-images {
    width: 5rem;
    display: flex;
    justify-content: space-between;
}

.search .image- {


    display: flex;
    justify-content: center;
    align-items: center;
}

.search .image- svg {

    fill: rgb(255, 255, 255);

}

.search .image- svg:active {

    fill: rgb(255, 169, 71);

}


.search>.input->input::placeholder {

    font-size: 1.1em;
    color: #fff;
}

.search .search-complex {

    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(225, 192, 255);

}

.search .search-complex svg {

    fill: rgb(225, 192, 255);
}

.search .search-complex svg:active {

    fill: rgb(255, 169, 71);
}



.search>.input->input {

    width: 100%;
    height: 80%;
    outline: none;
    border: 0;
    background: #0f0f0f00;
    color: rgb(255, 255, 255);
    margin: 0.1rem 0.1rem;

}






.banner-show {
    width: 100%;
    height: 4rem;
}

.banner .image {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.banner .image>img {
    padding: 2% 2%;
    max-width: 80%;
}

@media screen and (max-width:991px) {
    .banner>.description {
        width: 90%;
    }
}

@media screen and (max-width:600px) {
    .user>div {
        width: 200%;
    }


}