html {
    font-size: 16px;
    font-family: sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: cursive; */
    word-break: break-all;

}

.body ::-webkit-scrollbar {
    /*高宽分别对应横竖滚动条的尺寸*/
    width: 0.5rem;
    height: 0.5rem;
}

/*滚动条里面小方块*/
.body ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #411b60b5;


}

.body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

body {
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body[theme='dark']{
    --color-canvas-default: #000000;
}
body[theme='light']{
    color-scheme: light;
    --header-color: #68157668;
    --header-font-color:  #000000;
    --header-border-color:  #000000;
    --header-srarch-border-color:  #000000;
    --header-border: #b54c4cc0;
    --header-svg: #000000c0;
    --banner-hover-color: #3d6cd0b3;
    --layout-color: rgba(185, 185, 185, 0);
    
    --banner-color: #40408684;
    --banner-border-color: #ffffff;
    --banner-font-color: #ffffff;

}
body{
    
}
.body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: stretch;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    position: relative;
    /* backdrop-filter: blur(0.8rem); */

}



a {
    text-decoration: none;
    color: black;
}
.displaynone {
    display: none !important;
}

