html {
    font-size: 16px;
    /* font-family: sans-serif; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: cursive; */
    word-break: break-all;

}

.body ::-webkit-scrollbar {
    /*高宽分别对应横竖滚动条的尺寸*/
    width: 0.5rem;
    height: 0.5rem;
}

/*滚动条里面小方块*/
.body ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #411b60b5;
    

}

.body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: stretch;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    position: relative;

}

li {
    margin-left: 2.1rem;
}