@import url("./github-markdown.css");
@import url("./google-light.css");

.markdown-body {
    box-sizing: border-box;
}

.create {
    width: 100%;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.create-hidden {
    display: none;
}

.synopsis {
    width: 100%;
    height: 5rem;
    margin: 0.2rem 0;


}

.synopsis>textarea {
    resize: none;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    border: 0.1rem solid #717171;
    margin: 0.2rem 0;
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 0.5rem 0.5rem;

}

.title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0;
    flex-wrap: wrap;

}

.title>select {

    min-width: 8rem;
    height: 3rem;
    color: #000000;
    background: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid #717171;
    font-size: 1.2rem;
    text-align: start;
    padding: 0 0.5rem;

}

.title>input[type=text] {

    display: flex;
    width: calc(100% - 10rem);
    min-width: 8rem;
    height: 3rem;
    color: #000000;
    background: white;
    padding: 0rem 1rem;
    border: none;
    border-radius: 0.5rem;
    border: 0.1rem solid #717171;
    font-size: 1.2rem;
    justify-content: flex-start;
    align-items: center;

}


.auxiliary {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin: 1rem 0;
    padding: 0.5rem 0;
    background: rgba(214, 214, 214, 0.664);
    flex-wrap: wrap;


}

.auxiliary>div {
    min-width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;

}

.auxiliary>div:hover {
    /* border: 0.1rem solid #cbcbcb; */
    background: black;

}

.div_svg_show {
    display: flex;
    justify-content: center;
    align-items: center;


}

.div_svg_hidden {
    display: none !important;
}


.auxiliary>div:hover svg {
    fill: white;
}

.article-content {
    width: 100%;
    height: 100%;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* background: red; */

}

.article-content>.content {
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    justify-content: start;
    font-size: 1.2rem;

}

.article-content>.content img {

    width: 100%;

}

.article-content>.content>.content-left-unfull {
    width: 50%;
    height: 100%;

}

.article-content>.content>.content-left-unfull>textarea {
    resize: none;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    border: 0.1rem solid #717171;
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
}

/* .article-content > .content textarea::-webkit-scrollbar {
    display: none;
} */

.article-content>.content>.content-left-full {
    width: 100%;
    height: 100%;
}

.article-content>.content>.content-left-full>textarea {
    resize: none;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    border: 0.1rem solid #717171;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;

}


.article-content>.content>.content-right-full {

    width: 50%;
    height: 100%;
    border: 0.1rem solid #717171;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0.5rem 0.5rem;

}

.article-content>.content>.content-right-unfull {
    display: none;
}

.article-submit {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.article-submit>input {
    min-width: 6rem;
    height: 2.5rem;
    display: flex;
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin: 0 01rem;
    padding: 0 0.5rem;
    border: 0.1rem solid #ffffff;
    /* cursor: pointer;
    cursor: not-allowed; */
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.article-submit>input[type=submit]:hover {
    border: 0.1rem solid #000000;
    background: white;
    color: black;
}



.article-submit>input[type=button]:hover {
    border: 0.1rem solid #000000;
    background: white;
    color: black;
}

.un_full_screen {

    width: 100%;
    height: 45rem;

}

.full_screen {
    padding: 0 0.5rem;
    left: 0rem;
    width: 100%;
    height: 90vh;
    margin: 3rem 1rem 1rem;
}

.full_screen_hidden {
    display: none;
}