header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #0f0f0f;
    border-bottom: 0.15rem solid #fff;
    z-index: 9;
}

header .logos {
    min-height: 2rem;
    min-width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;

}

header>.logos>.logo-a>.logo-top {

    height: 40%;
    width: 100%;
}

header>.logos>.logo-a>.logo-buttom {

    height: 60%;
    width: 100%;
}

header>.logos>.logo-a {
    display: flex;
    height: 2rem;
    flex-direction: column;
    justify-content: end;
    justify-items: stretch;
    align-items: stretch;
}

header>.logos a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-align: center;
    color: #fff;
    letter-spacing: 0.0rem;

}

header .logos .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}

header .logos .image>img {
    height: 120%;
}

header>.navigation-simplify {
    display: none;
    position: relative;
    height: 3.2rem;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    border: 0.2rem solid #0f0f0f;

}

header>.navigation-simplify>div {
    position: absolute;
    left: 0rem;
    top: 3rem;
    display: none;
    min-height: 4rem;
    width: 15rem;
    background: #030303da;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    text-align: center;
    
}

header>.navigation-simplify:hover>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: fade-in;
    /*动画名称*/
    animation-duration: 0.6s;
    /*动画持续时间*/
    -webkit-animation-name: fade-in;
    /*针对webkit内核*/


}

header>.navigation-simplify:hover {
    background: rgba(114, 120, 158, 0.5);
    border-radius: 0.8rem;

}

header>.navigation-simplify svg {
    fill: #fff;
    font-size: 1.7rem;
}


header .navigation-simplify>div>div {
    margin: 0.6rem 0rem;
    width: 13rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}

header .navigation-simplify>div>div>div {
    width: 85%;
    border-left: 0.3rem solid #fff;
}

header .navigation-simplify>div>div:hover {
    background: rgba(148, 154, 199, 0.377);
}

header>.navigation {

    height: 100%;
    min-width: 55%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    justify-items: stretch;
    align-items: center;
    text-align: center;
    /* background: blue; */
    /* background: red; */

}

header>.navigation>div {

    position: relative;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
    flex-wrap: wrap;
    min-width: 13%;
    height: 3.2rem;
    border: 0.2rem solid #0f0f0f;
    z-index: 10;
    text-align: center;
    
}

header a {

    text-decoration: none;
    color: #fff;
    font-weight: 250;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    /* background: red; */
    font-weight: 500;

}
header a:hover {

  
    color: rgb(255, 255, 255);
    
}

header .navigation>div:hover {

    background: rgba(114, 120, 158, 0.5);
    border-radius: 0.8rem;
}

header .navigation>div:hover>div {
    /* visibility: visible; */
    /* display: inline-block; */
    display: flex;
}

header .navigation>div>div {

    display: none;
    position: absolute;
    left: 0rem;
    top: 3rem;
    min-height: 4rem;
    width: 15rem;
    background: #030303da;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: fade-in;
    /*动画名称*/
    animation-duration: 0.6s;
    /*动画持续时间*/
    -webkit-animation-name: fade-in;
    /*针对webkit内核*/
}

header .navigation>div>div>div {
    margin: 0.6rem 0rem;
    width: 13rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}

header .navigation>div>div>div>div {
    width: 85%;
    border-left: 0.3rem solid #fff;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    align-items: stretch;


}


header .navigation>div>div>div:hover {
    background: rgba(148, 154, 199, 0.377);
}
header .search-s {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    /* background: green; */
}

header .search {
    width: 80%;
    height: 2.2rem;
    border: 0.1rem solid #fff;
    border-radius: 25px;
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    /* background: green; */
}

header .search>.input- {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .search .search-images  {
    width: 4rem;
    display: flex;
    justify-content: space-between;
}
header .search .image- {

   
    display: flex;
    justify-content: center;
    align-items: center;
}
header .search .image- svg{

    fill: rgb(255, 255, 255);

}
header>.search .image- svg:active{

    fill: rgb(255, 169, 71);

}


header .search>.input->input::placeholder {

    font-size: 1.1em;
    color: #fff;
}

header .search .search-complex  {

    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(225, 192, 255);

}
header .search .search-complex svg{

    fill: rgb(225, 192, 255);
}
header .search .search-complex svg:active{

    fill: rgb(255, 169, 71);
}



header .search>.input->input {

    width: 100%;
    height: 80%;
    outline: none;
    border: 0;
    background: #0f0f0f;
    color: rgb(255, 255, 255);
    margin: 0.1rem 0.1rem;

}






header>.user-hidden {
    display: none;
}



header>.user {

    width: 7%;
    height: 3.2rem;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-items: stretch;
    text-align: center;
    border: 0.2rem solid #0f0f0f;
    
}

header>.user>div {
    position: absolute;
    right: 0rem;
    top: 3rem;
    display: none;
    min-height: 4rem;
    min-width: 9rem;
    background: #030303da;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    text-align: center;
    

}

header>.user:hover>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: fade-in;
    /*动画名称*/
    animation-duration: 0.3s;
    /*动画持续时间*/
    -webkit-animation-name: fade-in;
    /*针对webkit内核*/
}



header>.user:hover {
    background: rgba(114, 120, 158, 0.5);
    border-radius: 0.8rem;

}

header>.user svg {
    fill: #fff;
    font-size: 1.7rem;
}
header>.user> img{
    
    height: 75%;
    border-radius: 2rem;

}

header .user>div>div {
    margin: 0.6rem 0rem;
    /* height: 2.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
    /* align-items: stretch; */
    border-radius: 0.2rem;
    width: 90%;
   
   
  
   
}

header .user>div>div>div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    /* border-left: 0.3rem solid #fff;  */
    margin: 0.5rem 0.5rem;
   
   
   
}

header .user>div>div:hover {
    background: rgba(148, 154, 199, 0.377);
}

@media screen and (max-width:991px) {
    header .navigation {
        display: none;
    }

    header .search-s {
        width: 40%;
    }

    header .logo {
        width: 15%;
    }

    header>.navigation-simplify {
        display: flex;

    }
    header>.user{
        display: none;
    }
    header .search-s .search{
        width: 100%;
    }

}

@media screen and (max-width:600px) {
    header .search-s .search{
        width: 100%;
    }

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    /*初始状态 透明度为0*/
    50% {
        opacity: 0;
    }

    /*过渡状态 透明度为0*/
    100% {
        opacity: 1;
    }

    /*结束状态 透明度为1*/
}

@-webkit-keyframes fade-in {

    /*针对webkit内核*/
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}