.layout {
    min-height: 40rem;
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    background: var(--layout-color);

}


.layout .catalogue {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(142, 138, 145, 0.332);
    /*font-size: 3rem;*/
    letter-spacing: 1.2rem;
}

.layout .label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(142, 138, 145, 0.332);
    /* writing-mode: vertical-lr; */
    font-size: 3rem;
    letter-spacing: 1.2rem;

}

.layout>.layout-content {

    width: 60%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*min-height: 50vh;*/
    background: rgba(255, 255, 255, 0);

}

.layout>.layout-content>.articles {
    width: 100%;
    /*min-height: 65rem;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
    justify-content: center;
    align-content: flex-start;
    justify-items: center;
    align-items: flex-start;

}

.layout>.layout-content>.articles .title_a {

    width: 100%;
    min-height: 3.5rem;

}

.layout>.layout-content>.articles .title_a>a {

    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.5rem;

}

.layout>.layout-content>.articles a:hover {
    color: rgb(139, 20, 219);
}


.user_and_time {
    display: flex;
    min-height: 2.5rem;
    justify-content: space-between;
    font-size: 1.1rem;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.user_and_time span {

    min-width: 25%;
    margin: 0.2rem 0.2rem;
}

.user_and_time>a {
    min-width: 25%;
    font-size: 1.1rem;

    color: rgb(0, 0, 0);
    margin: 0.2rem 0.2rem;
}

.layout>.layout-content>.articles>div {
    width: 100%;
    min-height: 15rem;
    padding: 1rem 1rem;
    border: 0.1rem solid rgba(52, 52, 52, 0.267);
    border-radius: 0.8rem;
    box-shadow: 0.12rem 0.1rem 0.5rem 0.1rem rgba(111, 111, 111, 0.267);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;


}

/*.layout>.layout-content>.articles>div *{*/
/*    min-width: 100%;*/
/*}*/


.layout .layout-content>.articles>div>.div_s {
    width: 100%;

    min-height: 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* border-bottom: 0.08rem solid #000000; */

}

.layout .layout-content>.articles>div>.div_s .div_p {

    width: 80%;
    min-width: 6rem;
    height: 8rem;
    font-size: 1.3rem;
    line-height: 2rem;
    overflow: hidden;
    position: relative;
    border: 0.1rem solid rgba(91, 90, 90, 0.174);
    /* border-radius: 0.8rem; */
    padding: 0rem 0.5rem;
    box-shadow: 0.12rem 0.1rem 0.8rem 0.12rem rgba(91, 90, 90, 0.174);
}

.layout .layout-content>.articles>div>.div_s .div_p>p {

    font-size: 1.3rem;
    line-height: 2rem;

}


.layout .layout-content>.articles div>.div_s>.div_p::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.466), rgba(255, 255, 255, 0.829), rgb(255, 255, 255));
    content: "";
    display: block;
    height: 2rem;
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;

}


.layout .layout-content>.articles>div>.div_s>.div_buttons {

    width: 20%;
    min-width: 6rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.layout .layout-content>.articles>div>.div_s>.div_buttons input {

    width: 80%;
    min-height: 30%;
    border-radius: 0.3rem;
    background: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    flex-wrap: wrap;
    text-align: center;
    border: 0.09rem solid #ffffff;

}

.layout .layout-content>.articles>div>.div_s>.div_buttons input:hover {


    background: #fff;
    color: #0f0f0f;
    border: 0.09rem solid #000000;

}



.layout .layout-content>.articles>div:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(69, 69, 69, 0.329);
}

@media screen and (max-width:600px) {
    .layout .layout-content>.articles>div>.div_s .div_p {
        width: calc(100% - 6rem);
    }

    .layout .catalogue {
        display: none;

    }
    .layout>.layout-content
    {
        width: 100%;
    }
}