/* @font-face {
    font-family: unidreamLED;
    src: url('../../font/UnidreamLED.ttf') 
    
} */
.time{

    position: fixed;
    top:calc(-50rem + 50vh);
    /* left: calc( (-100vw + 100vw )/ 2); */
    left: calc((width - 100vw) / 2);
    height:100rem;
    --width1: 100vw;
    /* width:calc(var(--width1)); */
    width:100rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b0b0b04d;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.562);
   
    z-index: -10;
    font-size:1rem;
    justify-items: stretch;
   
}
.NowData{
    background-image: -webkit-linear-gradient(bottom, rgba(121, 8, 220, 0.356), rgba(67, 0, 126, 0.346));
    background-size: 100% 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.yearBox{
    height: 10%;
    width: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 5s;
    background-image: -webkit-linear-gradient(bottom, rgba(121, 8, 220, 0.291), rgba(73, 2, 135, 0.38));
    background-size: 100% 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mounthBox{
    height: 25%;
    width: 25%;
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition: 5s;
}
.dayBox{
    height: 40%;
    width: 40%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    transition: 5s;
}
.hourBox{
    height: 55%;
    width: 55%;
    position: absolute;
    display: flex;
    align-items: center;
    transition: 5s;
    border-radius: 50%;
}
.minuteBox{
    height: 70%;
    width: 70%;
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition: 5s;
}
.secondBox{
    height: 85%;
    width: 85%;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    transition: 0.5s;
}